
<a id="menu-button-mobile" href="#"><i class=" icon-menu"></i></a><!-- Menu button responsive-->
<nav class="menu_container">

    <ul class="menu  ">
        <li id="menu-item-326" class="menu-item menu-item-type-custom menu-item-object-custom drop-normal"><a title="PURCHASE THIS TEMPLATE" href="/home">Əsas səhifə</a></li>

        <li id="menu-item-57" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children drop-normal submenu">
            <a title="CALCULATORS" class="drop-down">Kalkulyatorlar</a>
            <div class='drop-down-container normal'>
            <ul role="menu" class="">
                <li id="menu-item-260" class="menu-item menu-item-type-post_type menu-item-object-page drop-normal"><a title="Gündəlik ehtiyac kalkulyatoru" href="/calculator/daily">Gündəlik kalori ehtiyacı</a></li>
                <li id="menu-item-279" class="menu-item menu-item-type-post_type menu-item-object-page drop-normal"><a title="Bədən kütlə indeksi" href="/calculator/bmi">Bədən kütlə indeksi</a></li>
                <li id="menu-item-273" class="menu-item menu-item-type-post_type menu-item-object-page drop-normal"><a title="Calorie Burned by Activities" href="/calculator/">Kalori Kalkulyatoru</a></li>
                <li id="menu-item-273" class="menu-item menu-item-type-post_type menu-item-object-page drop-normal"><a title="Calorie Burned by Activities" href="/calculator/activities/">Hərəkət üzrə</a></li>

            </ul>
        </li>

        <li id="menu-item-326" class="menu-item menu-item-type-custom menu-item-object-custom drop-normal"><a title="PURCHASE THIS TEMPLATE" href="#">Layihə Haqqında</a></li>
        <li id="menu-item-326" class="menu-item menu-item-type-custom menu-item-object-custom drop-normal"><a title="PURCHASE THIS TEMPLATE" href="#">Faydalı keçidlər</a></li>


    </ul>
</nav>