<div class="flexslider">
    <ul class="slides">
        <li style="background: url(http://shtheme.com/demosd/activity/wp-content/themes/activity/img/01.jpg) center"></li>
        <li style="background: url(http://shtheme.com/demosd/activity/wp-content/themes/activity/img/02.jpg) center"></li>
        <li style="background: url(http://shtheme.com/demosd/activity/wp-content/themes/activity/img/03.jpg) center"></li>
        <li style="background: url(http://shtheme.com/demosd/activity/wp-content/themes/activity/img/04.jpg) center"></li>
    </ul>
</div><!-- End slider -->



<div id="calculators_home">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-6">
                <div class="box_calculator">
                    <a href="~page_id=259.html">
                        <img src="/assets/wp-content/uploads/2016/04/icon-1.png" alt="" data-retina="true">
                        <h3>Gündəlik kalori ehtiyacı<br />kalkulyatoru</h3>
                    </a>
                </div><!-- End box-calculator -->
            </div><!-- End col-md-3 -->


            <div class="col-md-3 col-sm-6 col-xs-6">
                <div class="box_calculator">
                    <a href="~page_id=268.html">
                        <img src="/assets/wp-content/uploads/2016/04/icon-2.png" alt="" data-retina="true">
                        <h3>Yaş qrupları üzrə <br />gündəlik kalori ehtiyacı</h3>
                    </a>
                </div><!-- End box-calculator -->
            </div><!-- End col-md-3 -->


            <div class="col-md-3 col-sm-6 col-xs-6">
                <div class="box_calculator">
                    <a href="/calculator/">
                        <img src="/assets/wp-content/uploads/2016/04/icon-3.png" alt="" data-retina="true">
                        <h3>Hərəkət növü üzrə<br />kalori sərfi</h3>
                    </a>
                </div><!-- End box-calculator -->
            </div><!-- End col-md-3 -->


            <div class="col-md-3 col-sm-6 col-xs-6">
                <div class="box_calculator">
                    <a href="~page_id=269.html">
                        <img src="/assets/wp-content/uploads/2016/04/icon-4.png" alt="" data-retina="true">
                        <h3>Bədən kütlə indeksi<br />kalkulyatoru</h3>
                    </a>
                </div><!-- End box-calculator -->
            </div><!-- End col-md-3 -->


        </div>
    </div><!-- End container -->
</div><!--calculators_home -->